{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Ajouter un cadeaux
	{% endblock %}


	{% block custom_assets %}
		{{ parent() }}
		<script type="text/javascript" src="/web/assets/js/additem.js"></script>
	{% endblock %}


	{% block content %}
		<div class="addItemContainer">
			{% if list is not null %}
			<h2>Ajout d'un cadeau à la liste {{ list.title }}</h2>
			{% else %}
			<h2>Ajout d'un cadeau au groupe {{ group.title }}</h2>
			{% endif %}
			<form class="addItemForm" action="{{(list is not null) ? path_for('add_item_action', {id: list.id}) : null }}" method="post" enctype="multipart/form-data">
				<div class="addItemFormContent">
					{% if list is not null %}
					<h2 class="addToListTitle">Ajout d'un cadeau à la liste {{ list.title }}</h2>
					{% else %}
					<h2 class="addToListTitle">Ajout d'un cadeau au groupe {{ group.title }}</h2>
					{% endif %}
					<div class="addItemFormControl">
						<label for="title">Titre: </label>
						<input type="text" name="title" id="title" value="{{old.title? old.title:''}}" />
						{% if errors.title is not null %}
						<span class="erreurValidation">{{errors.title}}</span>
						{% endif %}
					</div>
						
					<div class="addItemFormControl">
						<label for="description">Description: </label>
						<textarea type="text" name="description" id="description">{{old.description? old.description:''}}</textarea>
						{% if errors.description is not null %}
						<span class="erreurValidation">{{errors.description}}</span>
						{% endif %}
					</div>
						
					<div class="addItemFormControl">
						<label for="price">Prix: </label>
						<input type="text" name="price" id="price" value="{{old.price? old.price:''}}"/>
						{% if errors.price is not null %}
						<span class="erreurValidation">{{errors.price}}</span>
						{% endif %}
					</div>

					<div class="addItemFormControl">
						<label for="url">URL: </label>
						<input type="text" name="url" id="url" value="{{old.url? old.url:''}}"/>
						{% if errors.url is not null %}
						<span class="erreurValidation">{{errors.url}}</span>
						{% endif %}
					</div>

					<div class="addItemFormControl">
						<label for="is_crowdfundable" class="jackpotLabel">Mode cagnotte: <input type="checkbox" name="is_crowdfundable" id="is_crowdfundable" value="1" {{old.is_crowdfundable? 'checked="true"':''}} /></label>
						
					</div>

					<div class="addItemFormControl">
						<div class="uploadImageRealControl">
							<label>Images du cadeau: </label>
							<input class="imageFile" type="file" name="images[]" multiple="multiple" id="file" />
						</div>
						<div class="uploadImageFakeControl">
							<div class="uploadButton">
								<label for="file">Télécharger</label>
							</div>
							<div class="uploadesFilenames">
								
							</div>
						</div>
					</div>

					<input type="hidden" name="lists_id" id="lists_id" value="{{ (list is not null) ? list.id : null }}" />
					<input type="hidden" name="group_id" id="group_id" value="{{ (group is not null) ? group.id : 'null' }}" />

					<div class="addItemFormControl">
						<input type="submit" name="submit" value="Ajouter"/>
					</div>
				</div>
			</form>
		</div>
	{% endblock %}