{% extends 'templates/base_layout.twig' %}

{% block title %}
	{{ parent() }} Listes
{% endblock %}


{% block custom_assets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url() }}/web/assets/css/jquery.datetimepicker.css">
    <script src="{{ base_url() }}/web/assets/js/jquery.datetimepicker.full.min.js"></script>

    <script>
        $(function ()
        {
            $('#datetimepicker').datetimepicker();
            $.datetimepicker.setLocale('fr');
            $('#datetimepicker').datetimepicker(
            {
                i18n:
                {
                    fr:
                    {
                        months:
                        [
                            'Janvier','Fevrier','Mars','Avril',
                            'Mai','Juin','Juillet','Aout',
                            'Septembre','Octobre','Novembre','Decembre',
                        ],
                        dayOfWeek:
                        [
                            "Dim.", "Lun", "Mar", "Mer",
                            "Jeu", "Ven", "Sam",
                        ]
                    }
                },

                timepicker:true,
                step: 60,
                format:'d/m/Y H:i'
            });
        });
    </script>
{% endblock %}


{% block content %}
	<div class="container">
        <div class="error-alert">
            <div>
                {% for e in errors %}
                    <p>{{ e }}</p>
                {% endfor %}
            </div>
        </div>

        <p class="title">Ajouter une liste</p>

		<form class="form-create-list" action="/lists/add" method="POST" id="addList">
            <div class="form-content">
                <div class="input">
                    <label for="title">Titre : </label><input id="title" type="text" name="title" placeholder="Votre titre" required>
                </div>

                <div class="input">
                    <label for="description">Description : </label><textarea form="addList" id="description" class="description" type="text" name="description" placeholder="Votre description" required></textarea>
                </div>

                <div class="input">
                    <span>Êtes-vous le destinataire de la liste ?</span>
                    <span>
                        Oui
                        <input id="yes" type="radio" name="self_targeted" value="true" checked>
                    </span>

                    <span>
                        Non
                        <input id="no" type="radio" name="self_targeted" value="false">
                    </span>
                </div>

                <div class="input">
                    <label for="target">Sinon, précisez le destinataire : </label>
                    <input id="target" type="text" name="target" placeholder="Nom">
                </div>

                <div class="input">
                    <label for="datetimepicker">Date et heure d'expiration de la liste : </label>
                    <input id="datetimepicker" type="text" name="date" placeholder="01/01/2001 13:30" required>
                </div>

                <div class="input">
                    <input class="add-list-button" type="submit" value="Créer la liste">
                </div>
            </div>
        </form>

        <form class="backto-list-button" action="/lists">
            <input type="submit" value="Annuler">
        </form>
	</div>
{% endblock %}