{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Cadeaux
	{% endblock %}


	{% block custom_assets %}
	{% endblock %}


	{% block content %}
		<div class="itemsListContainer">
			{% if auth_check is not null and auth_check.id == list.user.id and date(list.limit_date) > date() %}
				<div class="addNewItem">
					<div class="addNewItemForm">
						<div class="control">
					   		<a title="Ajouter nouveau" type="submit" href="{{path_for('add_item_page', {id : list.sharing_url})}}">Ajouter nouveau</a>
					   		<a title="Discuter" type="submit" href="{{path_for('message', {id : list.sharing_url})}}#Envoyer_message">Discuter</a>
					   		<a title="Retour" type="submit" href="{{path_for('lists')}}">Retour</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="addNewItem">
					<div class="addNewItemForm">
						<div class="control">
					   		<a title="Discuter" type="submit" href="{{path_for('message', {id : list.sharing_url})}}#Envoyer_message">Discuter</a>
					   		<a title="Retour" type="submit" href="{{path_for('lists')}}">Retour</a>
						</div>
					</div>
				</div>
			{% endif %}
			<ul class="itemsList">
			{% for item in items %}
				{% if date(list.limit_date) <= date() %}
					{% if item.is_reserved %}
						<li class="item">
					<div class="itemImage">
						{% if item.images|length >= 1 %}
						<img src="{{ upload_path ~ (item.images|first).url }}"/>
						{% else %}
						<img src="{{ upload_path ~ 'gift.png' }}"/>
						{% endif %}
					</div>
					<div class="itemInformation">
						<h2 class="itemTitle">{{item.title}}</h2>
						{% if item.url %}
						<div class="itemUrl">
							<a target="_blank" href="{{item.url}}">Voir l'objet sur le net</a>
						</div>
						{% endif %}
						<div class="itemDetails">
							<a href="{{path_for('item_details', {id: item.id, 'url': item.lists.sharing_url})}}" >Ouvrir le cadeau</a>
						</div>
					</div>
					<div class="itemPrice">
					{% if item.is_reserved %}
						<span class="itemPriceDegits">Réservé</span>
					{% else %}
						{% if item.is_crowdfundable %}
							<span class="itemPriceDegits">{{item.current_contribution}} / {{item.price}}€</span>
						{% else %}
							<span class="itemPriceDegits">{{item.price}}€</span>
						{% endif %}
					{% endif %}
					</div>
					{% if auth_check is not null and auth_check.id == item.lists.user.id and date(item.lists.limit_date) > date() %}
					{% endif %}
				</li>
					{% endif %}
				{% else %}
				<li class="item">
					<div class="itemImage">
						{% if item.images|length >= 1 %}
						<img src="{{ upload_path ~ (item.images|first).url }}"/>
						{% else %}
						<img src="{{ upload_path ~ 'gift.png' }}"/>
						{% endif %}
					</div>
					<div class="itemInformation">
						<h2 class="itemTitle">{{item.title}}</h2>
						{% if item.url %}
						<div class="itemUrl">
							<a target="_blank" href="{{item.url}}">Voir l'objet sur le net</a>
						</div>
						{% endif %}
						<div class="itemDetails">
							<a href="{{path_for('item_details', {id: item.id, 'url': item.lists.sharing_url})}}" >Détails</a>
						</div>
						<form class="itemDelete" action="{{path_for('delete_item', {id: item.id})}}" method="post">
							<button type="submit" class="itemDeleteButton">Supprimer</button>
						</form>
					</div>
					<div class="itemPrice">
					{% if item.is_reserved %}
						<span class="itemPriceDegits">Réservé</span>
					{% else %}
						{% if item.is_crowdfundable %}
							<span class="itemPriceDegits">{{item.current_contribution}} / {{item.price}}€</span>
						{% else %}
							<span class="itemPriceDegits">{{item.price}}€</span>
						{% endif %}
					{% endif %}
					</div>
					{% if auth_check is not null and auth_check.id == item.lists.user.id and date(item.lists.limit_date) > date() %}
					{% endif %}
				</li>
				{% endif %}
			{% else %}
				<h2>La liste ne contient aucun cadeau</h2>
			{% endfor %}
			</ul>
			
		</div>
	{% endblock %}