{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Cadeaux
	{% endblock %}


	{% block custom_assets %}
	{% endblock %}


	{% block content %}
		<div class="itemsListContainer">
			<ul class="itemsList">
			{% for item in items %}
				<li class="item">
					<div class="itemImage">
						{% if item.images|length >= 1 %}
						<img src="{{ upload_path ~ (item.images|first).url }}"/>
						{% endif %}
					</div>
					<div class="itemInformation">
						<h2 class="itemTitle">{{item.title}}</h2>
						{% if item.url %}
						<a href="{{item.id}}" class="itemUrl">Page du cadeau</a>
						{% endif %}
					</div>
					<div class="itemPrice">
						
					</div>
				</li>
			{% endfor %}
			</ul>
			<form action="{{path_for('add_item_page', {id : url})}}" method="get">
			    <button type="submit">Ajouter nouveau</button>
			</form>

			<form action="{{path_for('message', {id : url})}}" method="get">
			    <button type="submit">Discuter</button>
			</form>
			
		</div>
	{% endblock %}