{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Cadeaux
	{% endblock %}


	{% block custom_assets %}
	{% endblock %}


	{% block content %}
		<div class="itemsListContainer">
			{% if auth_check is not null and auth_check.id == list.user.id and date(list.limit_date) > date() %}
				<div class="addNewItem">
					<div class="addNewItemForm">
						<div class="control">
					   		<a title="Ajouter nouveau" type="submit" href="{{path_for('add_item_page', {id : list.sharing_url})}}">Ajouter nouveau</a>
						</div>
					</div>
				</div>
			{% endif %}
			<ul class="itemsList">
			{% for item in items %}
				<li class="item">
					<div class="itemImage">
						{% if item.images|length >= 1 %}
						<img src="{{ upload_path ~ (item.images|first).url }}"/>
						{% else %}
						<img src="{{ upload_path ~ 'gift.png' }}"/>
						{% endif %}
					</div>
					<div class="itemInformation">
						<h2 class="itemTitle">{{item.title}}</h2>
						{% if item.url %}

						<!--<a href="{{item.id}}" class="itemUrl">Page du cadeau</a>-->
						<a class="itemUrl" target="_blank" href="{{item.url}}">Page du cadeau</a>

						{% endif %}
							<a href="{{path_for('item_details', {id: item.id, 'url': item.lists.sharing_url})}}" class="itemDetails">Détails</a>
					</div>
					<div class="itemPrice">
						<span class="itemPriceDegits">{{item.price}}€</span>
					</div>
					{% if auth_check is not null and auth_check.id == item.lists_id and date(list.limit_date) > date() %}
					<form class="itemDelete" action="{{path_for('delete_item', {id: item.id})}}" method="post">
						<button type="submit" class="itemDeleteButton">X</button>
					</form>
					{% endif %}
				</li>
			{% else %}
				<h2>La liste ne contient aucun cadeau</h2>
			{% endfor %}
			</ul>

			<form action="{{path_for('message', {id : list.sharing_url})}}" method="get">
			    <button type="submit">Discuter</button>
			</form>
			
		</div>
	{% endblock %}