{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Cadeaux
	{% endblock %}


	{% block custom_assets %}
	{% endblock %}


	{% block content %}
		<div class="itemsListContainer">
			<div class="addNewItem">
				<div class="addNewItemForm">
					<div class="control">
				   		<a title="Ajouter nouveau" type="submit" href="{{path_for('add_item_page', {id : url})}}">+</a>
					</div>
				</form>
			</div>
			<ul class="itemsList">
			{% for item in items %}
				<li class="item">
					<div class="itemImage">
						{% if item.images|length >= 1 %}
						<img src="{{ upload_path ~ (item.images|first).url }}"/>
						{% else %}
						<img src="{{ upload_path ~ 'gift.png' }}"/>
						{% endif %}
					</div>
					<div class="itemInformation">
						<h2 class="itemTitle">{{item.title}}</h2>
						{% if item.url %}
						<a class="itemUrl" target="_blank" href="{{item.url}}">Page du cadeau</a>
						{% endif %}
							<a href="{{path_for('item_details', {id: item.id})}}" class="itemDetails">Détails</a >
					</div>
					<div class="itemPrice">
						<span class="itemPriceDegits">{{item.price}}€</span>
					</div>
					<form class="itemDelete" action="{{path_for('delete_item', {id: item.id})}}" method="post">
						<button type="submit" class="itemDeleteButton">X</button>
					</form>
				</li>
			{% endfor %}
			</ul>
		</div>
	{% endblock %}