{% extends 'templates/base_layout.twig' %}

{% block title %}
	{{ parent() }} Listes
{% endblock %}


{% block custom_assets %}
{% endblock %}


{% block content %}
	<div class="container">
		<p class="title">Mes listes</p>
	
		<form class="form-add-list" action="/lists/add" method="GET">
			<input class="add-list-button" type="submit" value="Ajouter une liste">
		</form>

		<div class="list-of-lists">
			{% for l in lists %}
				<div>
					<a href="/lists/{{ l.url }}/items">
						{{ l.title }}
						<span>Expire le {{ l.date }}</span>
					</a>
					<form action=" {{ path_for('lists') }} " method="post">
						<input type="hidden" name="target" value="{{ l.id }}">
						<input type="submit" value="X">
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}