{% extends 'templates/base_layout.twig' %}

{% block title %}
    {{ parent() }} Messages
{% endblock %}


{% block custom_assets %}
{% endblock %}


{% block content %}
    <div class="container">
        <p class="title">Discussion</p>

        <form action="{{ path_for('get_items_by_list', {id: url}) }}" method="get">
                <button type="submit">Retour</button>
            </form>

        

        <div class="global_message">
            {% for m in array %}
                <div>
                    <p> <b> <u> {{ m.name }}</b></u> <i>le {{ m.date }}</i> : 
                        <br/>
                        {{ m.message }} </p>
                        <br/>
                </div>
            {% endfor %}
        </div>

        <form class="form-create-list" action="{{path_for('send_message', {id: url})}}" method="POST" id="addMessage">
            <div class="form-content">
                <div class="input">
                    <label for="Name">Nom : </label><input id="name" type="text" name="name" placeholder="Votre nom" required>
                </div>

                <div class="input">
                    <label for="Message">Message : </label><textarea form="addMessage" id="message" class="description" type="text" name="message" placeholder="Votre message" required></textarea>
                </div>           
                <div class="input">
                    <input class="add-list-button" type="submit" value="Envoyer">
                </div>
            </div>
        </form>


    </div>




{% endblock %}