<!doctype html>
<html lang="fr">

	<head>

		<!--<link rel="stylesheet" type="text/css" href="/Assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/Assets/css/styles.css">
		<script type="text/javascript" src="/Assets/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/Assets/js/bootstrap.min.js"></script>-->

		<meta charset="UTF-8">
		<title>
			{% block title %}
				Mecado - réservation
			{% endblock %}
		</title>

			{% block custom_assets %}

			{% endblock %}
	</head>

	<body>
		<form action="{{path_for('reserve_validation', {id: item.id})}}" method="post">
		{{item.title}}, {{item.price}}€ <br>
		{{item.description}}<br>
		  Nom :<br>
		  <input type="text" name="userName">
		  <br>
		  Message :<br>
		  <input type="text" name="userMsg">
		  <br>
		  <input type="submit" value="Réserver cadeau" >
		  <input type="hidden" value="{{item.id}}" name="item_id" />
		</form> 


	</body>
</html>


