<!doctype html>
<html lang="fr">

	<head>

		<!--<link rel="stylesheet" type="text/css" href="/Assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/Assets/css/styles.css">
		<script type="text/javascript" src="/Assets/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/Assets/js/bootstrap.min.js"></script>-->

		<meta charset="UTF-8">
		<title>
			{% block title %}
				Mecado -
			{% endblock %}
		</title>

			{% block custom_assets %}
				<script type="text/javascript" src="/web/assets/js/jquery-2.2.4.min.js"></script>
			{% endblock %}
	</head>

	<body>
		<header>
			<div class="header">

				{% if not session.isConnected %}
					<a class="enregistrer" href="{{ path_for('lists') }}">Sign in</a>

				{% else %}
   				 	<a class="enregistrer" href="{{ path_for('lists') }}">Sign out</a>
   				 	<div class="welcome">
   				 		<span>Welcome</span> {{ session.isConnected.full_name }}
   				 	</div>
				{% endif %}


				<div class="container">
					<div class="row">
						<div class="col-lg-4 ">

							 <form action="{{ path_for('lists') }}" method="get" role="search">

					            <div class="input-group custom-search-form">
					              <input type="text" class="form-control" placeholder="Search for a brand, a shop...">
					              <span class="input-group-btn">
					              <button class="btn btn-primary" type="submit">
					              <span class="glyphicon glyphicon-search"></span>
					             </button>
					             </span>
					            </div>
				        	 </form>
				        </div>
					</div>
				</div>
			</div>	
			<div class="button">
				<ul>				

					<li><a href="{{ path_for('lists') }}">Home</a></li>
					<li><a href="{{ path_for('lists') }}">My shop</a></li>
					<li><a href="{{ path_for('lists') }}">All shoes</a></li>

				
				</ul>
			</div>
		</header>

			{% block content %}

			{% endblock %}

		<footer>
			<div>

				<a class="lien-footer" href="{{ path_for('lists') }}">Home -</a>  
				<a class="lien-footer" href="{{ path_for('lists') }}">All shoes -</a> 
				<a class="lien-footer" href="{{ path_for('lists') }}">Contact us</a> 

				<p>© 2017 ShoesRental</p>
			</div>
		</footer>
	</body>
</html>


